#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
    margin: 0;
    padding: 0;
    background-color: white;


}
table {
    width: 100%;
    border-spacing: 5px;

    background-color: white;
    color: black;
}

th {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: center;
    border: none;
    font-weight: normal;
}

th {
    background-color: #f2f2f2;
}
